pandas
numpy
scikit-learn
scipy

statsmodels
holidays

catboost
xgboost
lightgbm
optuna

streamlit
matplotlib
seaborn
plotly
kaleido

tqdm
clearml
onnx
onnxruntime
skl2onnx

jupyter
notebook
ipywidgets
ipykernel
